/*0.1 version of tetris*/
#topnav{
position:fixed;
top:0;
left:0;
width:100%;
height:20px;
opacity:.7;
background-color:black;
color:white;
overflow:hidden;
}

.sbox{
    float:left;
    width:20px;
    height:20px;
    border:1px solid #4f475c;
}
#box{
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-110px;
    margin-top:-220px;
}
.clear{
    clear:both;
}
#popout{
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-100px;
    color:#fcff16;
    font-weight:bold;
}
#detail{
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-300px;
    margin-top:-200px;
}
#predict{
    position:absolute;
    left:50%;
    top:50%;
    margin-left:300px;
    margin-top:-200px;
}
#version{
    position:absolute;
    left:90%;
    top:90%;
}
